:root{
    --gray-50: #f0f1f3;
    --gray-100: #e0e2e8;
    --gray-200: #c3c6d1;
    --gray-300: #a5abbb;
    --gray-400: #a5abbb;
    --gray-500: #616d8a;
    --gray-600: #515e7b;
    --gray-700: #364767;
    --gray-800: #183153;
    --gray-900: #001c40;
    --h1: 3rem;
    --h2: 2rem;
    --first-font: "Rubik", sans-serif;
    --second-font: "Beiruti", sans-serif;
}

body{
    margin: 0;
    padding: 0;
    background-color: #f5f7f7;
    color: rgba(0, 0, 0, 0.65);
    font-family: var(--second-font);
    font-optical-sizing: auto;
    overflow: auto;
}

h1, h2, h3, h4 {
    font-family: var(--first-font);
}
header{
    width: auto;
    height: fit-content;
    position: sticky;
    top: 0;
    background-color: white;
    border-bottom: 1px solid var(--gray-100);
    margin: 0;
    padding: 0 18%;  
    box-shadow: rgba(216, 219, 222, 0.656) 4px 12px 100px;
}

.header-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-items h1{
    margin: 1rem;
}
.header-items h1 a{
    margin-right: 1rem;
}
.header-icons i{
    color: var(--gray-600);
    cursor: pointer;
}

.sidebar {
    display: flex;
    align-items: center;

  }
.sidebar p{
    display: none;
}
  .nav-list{
    display: flex;
    overflow: hidden;
  }

  .nav-list li{
    display: flex;
    list-style-type: none;
    
  }
  .nav-list li i{
    display: none;
  }

  .social{
    display: none;
  }

  .sidebar a {
    text-decoration: none;
    font-size: 1rem;
    color: #818181;
    display: block;
    transition: 0.3s;
    margin-right: 3rem;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }

.openbtn{
    display: none;
}

.sidebar .closebtn{
    display: none;
}


.header-items button i{
    color: var(--gray-600);
    cursor: pointer;
    font-size: 1rem;
}

.title a{
    text-decoration: none;
    color: var(--gray-600);
    font-size: 1.8rem;
}

main{
    width: 100%;
    height: 100%;
    
}
.head{

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
    margin: 3.4rem 10%;
}

.head h2{
    margin: 0;
    font-size: var(--h2);
    font-weight: 600;
    line-height: 1.2;
    word-spacing: 0.2rem;
}

.head p{
    letter-spacing: 0.04rem;
    padding-left: 5rem;
    padding-right: 5rem;
    font-size: 1.2rem;
}

.search-container {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
}

#search-bar {
    border: 1px solid #ccc;
    border-radius: 1rem;
    padding: 0.7rem 1rem;
    font-size: 0.9rem;
    outline: none;
}

#search-bar:focus {
    border-color: var(--gray-500);
}

#search-button {
    background-color: var(--gray-500);
    border: none;
    border-radius: 0.9rem;
    color: white;
    cursor: pointer;
    padding: 11px 15px;
    margin-left: 1rem;
    font-size: 0.9rem;
}

#search-button:hover {
    background-color: var(--gray-700);
}

.posts{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.posts p {
    margin-top: 2rem;
}
.posts-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.post{
    display: flex;
    flex-direction: column;
    margin: 2rem;
    max-width: 280px;
    max-height: 340px;
    border: 1px solid var(--gray-100);
    border-radius: 1rem;
    box-shadow: rgba(216, 219, 222, 0.656) 4px 12px 100px;
}

.post img {
    width: 100%;
    height: 100%;
    border-radius: 1rem 1rem 0 0;
}

.post h2{
    font-size: 1rem;
    text-align: start;
    margin: 1rem 0.8rem 0 0.7rem;
    font-weight: 600;
    line-height: 1.4;
    word-spacing: 0.1rem;
    
}

.post h2 a{
    color: var(--gray-600);
    text-decoration: none;
}
.post-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.8rem;
    color: var(--gray-500);
    margin: 0.5rem 0.9rem;
}

.post-info p{
    letter-spacing: 0.02rem;
    font-size: 0.7rem;
    font-family: var(--first-font);
}
.view-all-post{
    text-decoration: none;
    margin: 2rem 1rem;
    padding: 0.8rem 1.7rem;
    border-radius: 1rem;
    font-weight: 600;
    background-color: var(--gray-600);
    color: white;
    font-size: 0.8rem;
    font-family: var(--first-font);
    letter-spacing: 0.08px;
    font-weight: 500;
}

.categories-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.4rem;
    flex-wrap: wrap;
    margin: 2rem 0;
    /* background-color: #e6f2ff; */
    padding: 1.5rem 0.5rem;
    border-radius: 1rem;

}

.category{
    width: 6rem;
    height: 1rem;
    display: flex;
    align-items: center;
    border: 1px solid var(--gray-200);
    padding: 1rem;
    border-radius: 0.8rem;
    background-color: white;
    box-shadow: rgba(216, 219, 222, 0.656) 2px 4px 100px;
    cursor: pointer;
}

.cate-name{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0.4rem 0.8rem;
    border-left: 1px solid var(--gray-200);
}

.cate-name p{
    margin: 0;
    font-size: 0.8rem;
    font-family: var(--first-font);
    color: var(--gray-500);
}
.category i{
    font-size: 1rem;
    margin-right: 0.6rem;
    color: var(--gray-600);
}
@media only screen and (max-width: 768px) {

    body{
        padding: 0;
    }

    header{
        margin: 0;
        padding: 0 0 0 6%;
    }

    .title a{
        font-size: 1.6rem;
    }

    .sidebar {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        position: fixed;
        z-index: 100;
        top: 0;
        background-color: #f5f7f7;
        overflow-x: hidden;
        transition: ease 1.5s;
        
      }

      .sidebar p{
        display: block;
        text-align: center;
        font-size: 1.4rem;
        font-family: var(--first-font);
        font-weight: 600;
        color: var(--gray-600);
      }

      #mySidebar{
        left: -720px;
      }

      .nav-list{
        background-color: var(--gray-100);
        flex-wrap: wrap;
        align-items: center;
        margin: 1rem;
        padding: 1.4rem;
        border-radius: 1rem;
      }
      
      .nav-list li{
        display: flex;
        align-items: center;
        border: 1px solid var(--gray-100);
        width: 40%;
        margin: 1rem 0.8rem;
        border-radius: 0.8rem;
        background-color: #efefef;
      }
      
      .nav-list li i{
        display: inline-block;
        font-size: 0.9rem;
        color: var(--gray-600);
        margin: 0.8rem;
      }
      
      .nav-list li a {
        padding: 8px 2px;
        text-decoration: none;
        font-size: 0.8rem;
        letter-spacing: 0.02rem;
        color: var(--gray-600);
        display: block;
        transition: 0.3s;
        margin: 0;
        font-family: var(--first-font);
        
      }
      
      .nav-list li a:hover {
        color: #f1f1f1;
      }
      
      .social{
        display: flex;
      }
      .sidebar .closebtn {
        background-color: var(--gray-100);
        color: white;
        position: absolute;
        top: 18px;
        right: 20px;
        font-size: 26px;
        margin-left: 50px;
        display: block;
        padding: 0 12px 4px 12px;
        border: none;
        border-radius: 0.5rem;
        transition: 0.4s;
      }
      
      .openbtn {
        background-color: var(--gray-100);
        cursor: pointer;
        color: white;
        padding:10px 12px 8px;
        border: none;
        border-radius: 0.7rem;
        transition: 0.4s;
        display: block;
        margin-right: 1.2rem;
      }
      
      .openbtn:hover {
        background-color: var(--gray-200);
      }

      .closebtn:hover {
        background-color: var(--gray-200);
      }
      

    .head{
        margin: 12% 9%;
        align-items: start;
        text-align: start;
    }

    .head h2{
        font-size: 1.7rem;
    }

    .head p{
        letter-spacing: 0.02rem;
        padding: 0;
    }

    #search-bar{
        width: 10rem;
    }

    .post{
        max-width: 320px;
    }
}
