:root{
    --gray-50: #f0f1f3;
    --gray-100: #e0e2e8;
    --gray-200: #c3c6d1;
    --gray-300: #a5abbb;
    --gray-400: #a5abbb;
    --gray-500: #616d8a;
    --gray-600: #515e7b;
    --gray-700: #364767;
    --gray-800: #183153;
    --gray-900: #001c40;
}

body{
    margin: 0;
    padding: 0 20%;
    background-color: white;
    color: var(--gray-800);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: auto;
}

header{
    width: auto;
    height: 5rem;
    padding: 0 1rem 0 1rem;
    position: sticky;
    top: 0;
    background-color: white;
    border-bottom: 1px solid var(--gray-300);
}

.header-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-icon{
    margin-right: 0.5rem;
    color: var(--gray-700);
    cursor: pointer;
}

.title a{
    text-decoration: none;
    color: var(--gray-800);
    font-size: 1.8rem;
}

.head-content{
    width: auto;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1.5rem;
    margin: 3rem 2rem;
    border: 1px solid var(--gray-400);
    border-radius: 1rem;
    background-color: #e6f2ff;
}

.head-content h2{
    margin: 0;
    font-size: 1.7rem;
}

.head-content p{
    letter-spacing: 0.08rem;
}

.search-container {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
}

#search-bar {
    border: 1px solid #ccc;
    border-radius: 1rem;
    padding: 1rem;
    font-size: 0.9rem;
    width: 14rem;
    outline: none;
}

#search-bar:focus {
    border-color: var(--gray-500);
}

#search-button {
    background-color: var(--gray-500);
    border: none;
    border-radius: 0.9rem;
    color: white;
    cursor: pointer;
    padding: 10px 15px;
    margin-left: 1rem;
    font-size: 1rem;
}

#search-button:hover {
    background-color: var(--gray-700);
}

.categories-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.5rem;
    flex-wrap: wrap;
    margin: 2rem 0;

}

.category{
    width: 4rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--gray-400);
    padding: 1rem;
    border-radius: 0.8rem;
}

.category i{
    font-size: 1.8rem;
}
@media only screen and (max-width: 768px) {

    body{
        padding: 0;
    }

    .head-content p{
        letter-spacing: 0.02rem;
    }

    #search-bar{
        width: 10rem;
    }
}
