:root{
    --blue-50: #f3f1ff;
    --blue-100: #ece9fe;
    --blue-200: #dcd6fe;
    --blue-300: #c2b5fd;
    --blue-400: #a48bfa;
    --blue-500: #875cf6;
    --blue-600: #783aed;
    --blue-700: #6928d9;
    --blue-800: #5721b6;
    --blue-900: #491d95;
    --blue-950: #2c1065;

    --gray-50: #f0f1f3;
    --gray-100: #e0e2e8;
    --gray-200: #c3c6d1;
    --gray-300: #a5abbb;
    --gray-400: #a5abbb;
    --gray-500: #616d8a;
    --gray-600: #515e7b;
    --gray-700: #364767;
    --gray-800: #183153;
    --gray-900: #001c40;
    --h1: 3rem;
    --h2: 2rem;
    --first-font: "Rubik", sans-serif;
    --second-font: "Beiruti", sans-serif;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--blue-50);
    color: var(--gray-600);
    font-family: var(--second-font);
    font-optical-sizing: auto;
    overflow: auto;
}

a:hover{
    transition: 1s;
    color: var(--blue-600);
}
h1, h2, h3, h4 {
    font-family: var(--first-font);
}
header{
    width: auto;
    height: fit-content;
    position: sticky;
    top: 0;
    margin: 0;
    padding: 0 18%; 
    z-index: 1000;
    transition: 1.5s; 
}

header.scrolled {
    background-color: white;
    border-bottom: 1px solid var(--gray-100);
    box-shadow: rgba(216, 219, 222, 0.656) 4px 12px 100px;
    border-radius: 0 0 1rem 1rem;
}

.header-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-items h1{
    margin: 1rem;
}
.header-items h1 a{
    margin-right: 1rem;
}
.header-icons i{
    color: var(--gray-600);
    cursor: pointer;
}

.sidebar {
    display: flex;
    align-items: center;

  }
.sidebar p{
    display: none;
}
  .nav-list{
    display: flex;
    overflow: hidden;
  }

  .nav-list li{
    display: flex;
    list-style-type: none;
    
  }
  .nav-list li i{
    display: none;
  }

  .social{
    display: none;
  }

  .sidebar a {
    text-decoration: none;
    font-size: 1rem;
    color: #818181;
    display: block;
    transition: 1s;
    margin-right: 3rem;
  }
  
  .sidebar a:hover {
    color: var(--gray-800);
    border-bottom: 1px solid var(--gray-100);
  }

.openbtn{
    display: none;
}

.sidebar .closebtn{
    display: none;
}


.header-items button i{
    color: var(--gray-600);
    cursor: pointer;
    font-size: 1rem;
}

.title a{
    text-decoration: none;
    color: var(--gray-500);
    font-size: 1.8rem;
}

main{
    width: auto;
    padding: 0 14%;
    height: 100%;
    
}
.head{

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
    margin: 3.4rem 10%;
}

.head h2{
    margin: 0;
    font-size: var(--h2);
    font-weight: 600;
    line-height: 1.2;
    word-spacing: 0.2rem;
}

.head p{
    letter-spacing: 0.04rem;
    padding-left: 5rem;
    padding-right: 5rem;
    font-size: 1.2rem;
}

.search-bar {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
}

.search-form {
    border: 1px solid #ccc;
    border-radius: 1rem;
    padding: 0.7rem 1rem;
    font-size: 0.9rem;
    outline: none;
    transition: 1s;
}

.search-form:focus {
    border-color: var(--blue-500);
}

.search-button {
    background-color: var(--blue-500);
    border: none;
    border-radius: 0.9rem;
    color: white;
    cursor: pointer;
    padding: 11px 15px;
    margin-left: 1rem;
    font-size: 0.9rem;
    transition: 1s;
}

.search-button:hover {
    background-color: var(--blue-400);
}

.search-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.posts{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 2rem;
    border: 1px solid var(--gray-50);
    border-radius: 1.4rem;
    margin: 2rem 1rem;
    box-shadow: rgba(216, 219, 222, 0.656) 4px 12px 100px;
}

.posts p {
    margin-top: 1rem;
}
.posts-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.post{
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 2rem;
    max-width: 250px;
    max-height: 320px;
    border-radius: 1rem;
    opacity: 0;
    transition: opacity 0.7s ease-in-out;
    }
        .post.show {
            opacity: 1;
        }
        .tag-buttons {
            margin: 10px;
            display: flex;
            align-items: center;
            overflow: scroll;
            scrollbar-width: none;
            max-width: 360px;
        }
        .tag-button {
            margin: 0.4rem 0.3rem;
            padding: 6px 12px;
            cursor: pointer;
            border: 1px solid var(--gray-100);
            border-radius: 1rem;
            background: transparent;
            color: var(--gray-700);
            font-family: var(--first-font);
            transition: 1s;
        }
        .tag-button.active {
            background-color: var(--blue-500);
            color: white;
            border: none;
        }
        .toast {
            visibility: hidden;
            max-width: 200px; 
            margin: auto;
            background-color: var(--gray-700);
            color: white;
            text-align: center;
            border-radius: 2px;
            padding: 14px 18px;
            position: fixed;
            z-index: 100;
            left: 20%;
            right: 20%;
            bottom: 20px;
            font-size: 18px;
            white-space: nowrap;
            border-radius: 1rem;
            letter-spacing: 0.02rem;
        }
        .toast.show {
            visibility: visible;
            -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
            animation: fadein 0.5s, fadeout 0.5s 2.5s;
        }
        @-webkit-keyframes fadein {
            from {bottom: 0; opacity: 0;} 
            to {bottom: 20px; opacity: 1;}
        }
        @keyframes fadein {
            from {bottom: 0; opacity: 0;}
            to {bottom: 20px; opacity: 1;}
        }
        @-webkit-keyframes fadeout {
            from {bottom: 20px; opacity: 1;} 
            to {bottom: 0; opacity: 0;}
        }
        @keyframes fadeout {
            from {bottom: 20px; opacity: 1;}
            to {bottom: 0; opacity: 0;}
        }

.post img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

.post h2{
    font-size: 1rem;
    text-align: start;
    margin: 1rem 0;
    font-weight: 600;
    line-height: 1.4;
    word-spacing: 0.1rem;
    padding: 0 0.8rem;
    
}

.post h2 a{
    color: var(--gray-600);
    text-decoration: none;
}
.post-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.8rem;
    color: var(--gray-500);
    padding: 0 0.4rem;
    margin: 0.4rem 0.6rem;
}

.post-info p{
    letter-spacing: 0.02rem;
    font-size: 0.7rem;
    font-family: var(--first-font);
}
.view-all-post{
    background-color: var(--blue-500);
    text-decoration: none;
    margin: 2rem 1rem;
    padding: 0.8rem 1.7rem;
    border-radius: 1rem;
    font-weight: 600;
    border: 1px solid var(--gray-100);
    color: white;
    font-size: 0.8rem;
    font-family: var(--first-font);
    letter-spacing: 0.08px;
    font-weight: 500;
}

.trending{
    padding: 5%;
    margin-bottom: 2rem;
    overflow: hidden;
}

.trending-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;

}

.trending-box{
    max-width: 400px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: white;
    border-radius: 1.2rem;
    box-shadow: rgba(216, 219, 222, 0.656) 4px 12px 100px;
    border: 1px solid var(--gray-50);
}

.trending-box h2{
    font-size: 1.2rem;
    text-align: start;
    border-bottom: 1px solid var(--gray-200);
    padding-bottom: 1rem;
    text-align: center;
}

.trending-item{
    display: flex;
    align-items: center;
    padding: 0 1.2rem;
}

.exp-icon{
    font-size: 0.8rem;
    padding: 0.7rem;
    background-color: var(--blue-200);
    border-radius: 50%;
}

.trending-item h3{
    font-size: 15px;
    text-align: start;
    padding: 0 0 0 1.5rem;
    line-height: 1.6rem;
    font-weight: 500;
}

.trending-item h3 a{
    text-decoration: none;
    color: var(--gray-600);
    text-wrap: wrap;  
}

.trending-view-all{
    text-align: center;
    margin-top: 1.2rem;
    word-spacing: 1px;
}

.languages h2{
    text-align: center;
    margin: 4rem 0 3rem 0;
}

.language-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.language {
    background-color: white;
    display: flex;
    align-items: center;
    max-width: 270px;
    flex: 1 0 calc(33.33% - 10px); /* Three items per row on desktop */
    box-sizing: border-box;
    border: 1px solid var(--gray-100);
    transition: all 0.5s ease;
    border-radius: 1rem;
    box-shadow: rgba(216, 219, 222, 0.656) 4px 12px 100px;
    padding: 2px;

}

.language h3{
    font-size: 1rem;
    font-weight: 500;
}

.language svg {
    width: 22px;
    background-color: var(--blue-400);
    color: white;
    padding: 0 7px;
    border-radius: 50%;
    margin: 0 1rem;
}

.svg-padding{
    padding: 6px;
}
.hidden {
    display: none;
}
.show-more-container {
    text-align: center;
    margin-top: 20px;
}

.show-more{
    background-color:transparent;
    text-decoration: none;
    margin: 2rem 1rem;
    padding: 0.8rem 2rem;
    border-radius: 1rem;
    border: 1px solid var(--blue-500);
    color: var(--blue-500);
    font-size: 0.8rem;
    font-family: var(--first-font);
    letter-spacing: 0.08px;
    font-weight: 500;
    cursor: pointer;

}

@media (max-width: 768px) {
    .language-container .language {
        flex: 1 0 calc(80% - 10px); /* Two items per row on mobile */
    }
}

.categories{
    padding-bottom: 2rem;
}

.categories-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.4rem;
    flex-wrap: wrap;
    margin: 2rem 0;
    /* background-color: #e6f2ff; */
    padding: 1.5rem 0.5rem;
    border-radius: 1rem;

}

.category{
    max-width: 270px;
    max-height: 250rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    border: 1px solid var(--gray-50);
    padding: 1rem;
    border-radius: 1rem;
    background-color: white;
    box-shadow: rgba(216, 219, 222, 0.656) 4px 12px 100px;
    cursor: pointer;
}

.cate-name{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 1rem;
}

.category h2{
    font-size: 1.2rem;
    color: var(--gray-600);

}
.category p{
    margin: 0;
    font-size: 0.8rem;
    font-family: var(--first-font);
    color: var(--gray-500);
}

.category i{
    font-size: 1rem;
    color: var(--gray-600);
    background-color: var(--blue-100);
    padding: 1rem;
    border-radius: 1rem;
}

.github-profile{
    margin: 2rem 0;
}

.github-profile h2{
    text-align: center; margin: 4rem 0; font-size: 1.4rem; color: #515e7b;
}

.github-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.visit-github{
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;

}

.visit-github h3{
    margin: 0;
}

.github-img{
    max-width: 300px;
    max-height: 300px;

}

.github-img img{
    width: 100%;
}

.github-link {
    text-align: center;
    margin: 2rem 0;
}

.github-link a{
    padding: 10px 1rem;
    background-color: var(--blue-100);
    color: var(--blue-500);
    border-radius: 0.6rem;
    word-spacing: 1px;
    border: 1px solid var(--blue-500);
    text-decoration: none;
    transition: 0.5s;
}

.github-link a:hover{
    background-color: var(--blue-400);
    color: var(--gray-700);
}

.github-link a i{
    font-size: 0.7rem;
}


footer{
    background-color: var(--gray-800);
    padding: 0 5%;
    padding-bottom: 0.4rem;
}

.footer-container{
    display: flex;
    padding: 1rem;
    overflow: hidden;
    justify-content: space-around;

}

.footer-about{
    display: flex;
    max-width: 300px;
    flex-direction: column;
    align-items: start;
    padding: 0 1.4rem;
    text-align: start;
}

.footer-about h2{
    margin: 1rem 0 0 0;
    color: white;
    letter-spacing: 1px;
}

.footer-about p{
    color: var(--gray-400);
}

.footer-links{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0.8rem;
    gap: 3rem;
}

.footer-links a{
    text-decoration: none;
    color: var(--gray-400);
}

.footer-social{
    display: flex;
    flex-direction: column;
    color: white;
}

.footer-pages{
    display: flex;
    flex-direction: column;
    color: white;
}

.footer-support{
    display: flex;
    flex-direction: column;
    color: white;
}

.copyright{
    text-align: center;
    color: var(--gray-400);
    word-spacing: 2px;
}
@media only screen and (max-width: 768px) {

    body{
        padding: 0;
    }

    header{
        margin: 0;
        padding: 0 1% 0 6%;
    }

    main{
        padding: 0;;
    }

    .title a{
        font-size: 1.6rem;
    }

    .sidebar {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        position: fixed;
        z-index: 100;
        top: 0;
        background-color: #f5f7f7;
        overflow-x: hidden;
        transition: ease 1.5s;
        
      }

      .sidebar p{
        display: block;
        text-align: center;
        font-size: 1.4rem;
        font-family: var(--first-font);
        font-weight: 600;
        color: var(--gray-600);
      }

      #mySidebar{
        left: -720px;
      }

      .nav-list{
        background-color: var(--gray-100);
        flex-wrap: wrap;
        align-items: center;
        margin: 1rem;
        padding: 1.4rem;
        border-radius: 1rem;
      }
      
      .nav-list li{
        display: flex;
        align-items: center;
        border: 1px solid var(--gray-100);
        width: 40%;
        margin: 1rem 0.8rem;
        border-radius: 0.8rem;
        background-color: #efefef;
      }
      
      .nav-list li i{
        display: inline-block;
        font-size: 0.9rem;
        color: var(--gray-600);
        margin: 0.8rem;
      }
      
      .nav-list li a {
        padding: 8px 2px;
        text-decoration: none;
        font-size: 0.8rem;
        letter-spacing: 0.02rem;
        color: var(--gray-600);
        display: block;
        transition: 0.3s;
        margin: 0;
        font-family: var(--first-font);
        
      }
      
      .nav-list li a:hover {
        color:var(--blue-700);
      }
      
      .social{
        display: flex;
      }
      .sidebar .closebtn {
        background-color: var(--gray-100);
        color: white;
        position: absolute;
        top: 18px;
        right: 20px;
        font-size: 26px;
        margin-left: 50px;
        display: block;
        padding: 0 12px 4px 12px;
        border: none;
        border-radius: 0.5rem;
        transition: 1s;
      }
      
      .openbtn {
        background-color: var(--blue-100);
        cursor: pointer;
        color: white;
        padding:10px 12px 8px;
        border: none;
        border-radius: 0.7rem;
        transition: 0.4s;
        display: block;
        margin-right: 1.2rem;
        transition: 1s;
      }
      
      .openbtn:hover {
        background-color: var(--blue-400);
      }

      .closebtn:hover {
        background-color: var(--blue-400);
      }
      

    .head{
        margin: 12% 9%;
        align-items: center;
        text-align: start;
    }

    .head h2{
        font-size: 1.7rem;
    }

    .head p{
        letter-spacing: 0.02rem;
        padding: 0;
    }

    #search-bar{
        width: 10rem;
    }

    .posts{
        padding: 2rem 0.5rem 0 0.5rem;
    }

    .post{
        max-width: 370px;
        margin-left: 1.4rem;
        margin-right: 1.4rem;
    }

    .tag-buttons{
        max-width: 280px;
    }

    .toast{
        left: 25%;
    }

    .trending-container{
        display: flex;
        flex-direction: column;
        gap: 4rem;
    
    }

    .category{
        max-width: 300px;
        margin: 0 1rem;
    }

    .github-container{
        flex-direction: column;
    }

    .github-profile h2{
        display: none;
    }

    .github-link{
        display: none;
    }

    footer{
        padding: 0;
        padding-bottom: 0.4rem;
    }

    .footer-container{
        flex-direction: column;
        padding: 1rem;
    }

    .footer-about{
        flex-direction: column;
        text-align: center;
        align-items: center;
        max-width: none;
    }

    .footer-links{
        flex-wrap: wrap;
        gap: 0;
        justify-content: space-between;
    }
}


.inz-fade {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.inz-fade.visible {
    opacity: 1;
}


